.courseProgram {
  position: relative;
  margin-top: 30px;

  &__title {
    font-family: 'Unbounded-400';
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;

    @media (width > 768px) {
      font-size: 36px;
      line-height: 45px;
      margin-bottom: 50px;
    }

    @media (width > 1200px) {
      font-size: 48px;
      line-height: 60px;
    }
  }
}

.courseProgram__wrapper_block{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.courseProgram__wrapper.animated {
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, visibility 0.5s ease-in-out, max-height 0.5s ease-in-out;
}

.courseProgram__wrapper.animated.show {
  opacity: 1;
  visibility: visible;
  max-height: 2500px; /* Выберите значение, достаточное для покрытия максимальной высоты ваших элементов */
  transform: scaleY(1);
}