.courseProgram {
  position: relative;
  margin-top: 30px;

  &__title {
    font-family: 'Unbounded-400';
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;

    @media (width > 768px) {
      font-size: 36px;
      line-height: 45px;
      margin-bottom: 50px;
    }

    @media (width > 1200px) {
      font-size: 48px;
      line-height: 60px;
    }
  }
}

.results__btn_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  &_btn {
    padding: 10px 40px;
    border-radius: 10px;
    background: linear-gradient(126.77deg, rgb(247, 1, 0) -3.549%, rgb(149, 11, 20) 86.623%);
  }

  .left_icon,
  .right_icon {
    width: 30px;
    height: 30px;
    color: white;
  }
}
