*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  /* max-width: 100%; */
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: 'Unbounded-200';
  src: url('./fonts/Unbounded-200.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Unbounded-300';
  src: url('./fonts/Unbounded-300.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Unbounded-400';
  src: url('./fonts/Unbounded-400.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Unbounded-500';
  src: url('./fonts/Unbounded-500.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Unbounded-600';
  src: url('./fonts/Unbounded-600.ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Unbounded-700';
  src: url('./fonts/Unbounded-700.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-Medium';
  src: url('./fonts/Inter-Medium.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-Bold';
  src: url('./fonts/Inter-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-ExtraBold';
  src: url('./fonts/Inter-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --goldGradient: linear-gradient(to right, #c99755 0%, #f1cb9b 33.33%, #f2dab4 66.66%, #c99755 100%);
  --redGradient: linear-gradient(to right, #e21b1b, #0A0909);
  --redGradientForm: linear-gradient(to top ,#e21b1b, #0A0909);
  --black: #0A0909;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #fcfcff68;
  
}

::-webkit-scrollbar-thumb {
  background: #000000a1;
  border-radius: 8px;
 
}

::-webkit-scrollbar-thumb:hover {
  background: #000000c1;
}